@keyframes StarsBlinking {
	0%      {opacity: 0}
    50%     {opacity: 1} 
    100%    {opacity: 0}
}



article#globeWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    min-height: 100%;
    height: 100%;

    margin: 0;
    
    flex: 1;
    padding: 0 7.5%;

    overflow: hidden;
    z-index: 0;
}
canvas#globe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
 
    
    background: var(--globe-background);
    border: 1px solid #000;
    border-radius: 1000px;

    overflow: hidden;
    opacity: 0;
    transition: .35s;
}

a#areaText {  
    min-height: 32px;
    margin-bottom: 50px;

    background: var(--area-title-background);
    border-radius: 6px;
    
    color: var(--based-color);
    text-align: center;
    font-size: 24px;
    font-family: var(--mainFont);
    font-weight: 900;
    text-decoration: none;
} 

div#stars {
    position: absolute;
    
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    opacity: 0;
    transition: 5s opacity ease-in-out;
    z-index: -1;
}
div#stars.night-active {
    opacity: 1;
}
div#stars.night-active span {
    position: absolute;
    display: flex;

    width: 2px;
    height: 2px; 

    background: #fff;
    border-radius: 50%;
}