main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 16;
    min-width: 400px;
}
main div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    /* height: 600px; */
    /* width: 600px; */
    border-radius: 1000px;
    overflow: hidden;
    background: linear-gradient(104deg, #74ace58f, transparent);
    border: 2px solid #000;
}

h2#areaText {  
    font-family: Neris; 
    text-align: center; 
    min-height: 32px;
} 