article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex: 1;
    padding: 0 7.5%;
}
article canvas {
    display: flex;
    justify-content: center;
    align-items: flex-start;


    width: 80%;
    max-height: 70%;
    
    background: linear-gradient(104deg, #74ace58f, transparent);
    border: 2px solid #000;
    border-radius: 1000px;

    overflow: hidden;
}

h2#areaText {  
    min-height: 32px;
    
    color: var(--accentColor);
    text-align: center;
    font-family: var(--mainFont);
} 