:root {
    --btnOneWidth: 15px;
}
button#settingsBtn {
    display: none;
}



header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    width: 100%;
    min-height: 75px;

    background: var(--h-background);
    color: var(--based-color);
    box-shadow: var(--edge-shadow);
 
    z-index: 2;
}
 




section.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: calc(37% - 10px);
    max-width: 490px; 
    min-width: 310px;
    margin-left: 10px; 
}
section.header-logo img {
    height: 44px;
    margin-right: 15px;
}
section.header-logo h1 {
    margin: 0;
    font-size: 36px;
    font-family: var(--logoFont);
    letter-spacing: 9px;

    transition: .35s color;
}







section.header-settings { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    
    flex: 1;
    padding: 0 2%;
} 
div.header-controls, 
div.header-theme,
div.header-mobile-scroll {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: fit-content;
    height: 30px;
    margin-right: 4px;

    border: 1px solid var(--based-color);
    border-radius: 3px;
    
    overflow: hidden;
    z-index: 2;
}
div.header-theme {
    margin-left: auto;
}
div.header-mobile-scroll {
    display: none;
}



div.header-controls button,
div.header-theme button,
div.header-mobile-scroll button {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;

    padding: 0;
    margin: 0;
    border: 0;
    background: none; 
    
    color: var(--based-color);
    font-size: 20px; 
    font-weight: 100;
    font-family: var(--addFont);
    letter-spacing: .8px; 
    line-height: 1; 
    
    transition: .45s all;
} 
div.header-controls button:hover {
    background: var(--controls-hoverBackground); 
} 
div.header-controls button.active-btn {
    background: var(--controls-background);
    color: #000;
} 


div.header-language button {
    width: calc( var(--btnOneWidth) * (10/4)  );
    font-size: 18px;
}
div.header-choosetype button { 
    width: calc( var(--btnOneWidth) * (10/2) );
}
div.header-theme button { 
    width: calc( var(--btnOneWidth) * (10/3) );
}
div.header-mobile-scroll button {
    width: calc( var(--btnOneWidth) * (10/1) );
}

 





div.header-controls button:not(:last-child)::after{
    content: '';
    position: absolute;
    height: 60%;
    width: 1px;

    right: 0px; 

    background-color: var(--based-color);
    opacity: .5;
}
div.header-controls button.active-btn::after { 
    content: '';
    position: absolute;
    height: 60%;
    width: 1px;
    
    left: -1px;
    
    background-color: var(--h-background);
    opacity: 1;
}




div.header-controls button.active-btn {
    font-weight: 900; 
}


div.header-theme span {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 21px;

    transition: 1.5s background, 1.5s box-shadow; 
    transition-delay: .6s;
}
button#lightBtn span {
    background: linear-gradient(45deg, #ff3b00, #ffe000);
}
button#lightBtn.active-btn span {
    box-shadow: inset 1px -1px 3px 0px #743000, 
                -13px 1px 40px 31px #ffa500ba 
}
button#dynamicBtn span {
    background: linear-gradient(166deg, #00ffd0, #0095ff);
    box-shadow: inset -4px -2px 4px -1px #00000094, 
                9px 4px 12px -3px #000;
}
button#dynamicBtn.active-btn span {
    box-shadow: inset -1px -1px 4px -1px #000, 
                0px 0px 20px 20px #67b9ff;
}
button#darkBtn span {
    background: linear-gradient(-27deg, #9b9b9b 20%, #e9e9e9 70%);
    box-shadow: inset -4px -2px 4px -1px #00000094, 9px 3px 12px -3px #000
}
button#darkBtn.active-btn span {
    background: linear-gradient(25deg, #9b9b9b 20%, #e9e9e9 70%);
    box-shadow: inset 4px -4px 7px -3px #000000f4, 
                30px -51px 29px 52px #f5f5f5;
}

div#themeAnimation {
    position: absolute;
    display: none;
    width: 21px;
    height: 21px;

    top: 0;
    right: 0;
    border-radius: 100%;
    transform: scale(1);

    
    z-index: 3; 
}
div#themeIcon {
    position: absolute;
    display: none;

    width: 21px;
    height: 21px;

    top: 0;
    right: 0;
    border-radius: 100%; 

    transform: scale(1) rotate(0deg);
    z-index: 4; 
}