:root {
    --btnOneWidth: 15px;
}


header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 75px;
    background: var(--headerBgc);
    color: var(--accentColor);
    box-shadow: 0px 1px 14px -7px #000;
}
 
header logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(37% - 10px);
    min-width: 290px;
    margin-left: 10px; 
}
header logo img {
    height: 36px;
    margin-right: 15px;
}
header logo h1 {
    font-size: 36px;
    letter-spacing: 9px;
    font-family: var(--logoFont);
    margin: 0;
}
header logo button {
    display: none;
}






header settings { 
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center; 
    justify-content: center;
    padding: 0 2%;
} 
header settings span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border: 1px solid var(--accentColor);
    margin: 0 4px;
    border-radius: 3px;
    overflow: hidden;
    height: 30px;
    width: fit-content;
    z-index: 2;
}
header settings span.header-theme {
    margin-left: auto;
}
header settings span.header-mobile-scroll {
    display: none;
}



header settings button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: none; 
    color: var(--accentColor);
    font-family: var(--addFont);
    letter-spacing: .8px; 
} 
header settings button:hover {
    background: var(--headerHoverBcg);
    color: var(--revertColor); 
}
header settings button:last-child {
    border: none;
} 

header settings button.active-btn {
    background: var(--headerButtonBgc);
    color: #000;
} 



span.header-theme button:first-child:not(.active-btn)::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 80%;
    right: 0px;
    background: var(--accentColor);
}
span.header-theme button:last-child:not(.active-btn)::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 80%;
    left: 0px;
    background: var(--accentColor);
}

span.header-language button {
    font-size: 22px;
    padding-top: 4px;
    width: calc( var(--btnOneWidth) * (10/4)  );
}
span.header-choosetype button {
    font-size: 20px;
    padding-top: 4px;
    width: calc( var(--btnOneWidth) * (10/2) );
}
span.header-theme button { 
    width: calc( var(--btnOneWidth) * (10/3) );
}
span.header-mobile-scroll button {
    
    width: calc( var(--btnOneWidth) * (10/1) );
}











header settings span.header-theme img {
    transform: scale(0.9);
} 