header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* padding: 0px 7% 0 10%; */
    height: var(--header-height);
    background: #3c3c3c;
    /* margin: 0 auto;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;  */
    height: auto;
    /* height: 500px; */
    /* padding: 20px 0; */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


header section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 10;
    align-self: flex-start; 
}
header section img {
    height: 48px;
    margin-right: 21px;
}
header section h1 {
    color: #fff;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 100;
    display: flex;
}



header > div { 
    display: flex;
    flex-direction: row;
    flex: 6;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* max-width: 500px; */
    min-width: 330px;
    margin: 10px 5px 10px 20px;
}
header > div > wrap {
    display: flex;
    flex-direction: row;
}

header span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border: 1px solid #fff;
    margin: 0 4px;
    border-radius: 3px;
    overflow: hidden;
    height: 30px;
    z-index: 2;
}


header span button {
    position: relative;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: 0;
    background: none;
    color: #fff; 
} 
header button:hover {
    color: #fff;
    background: #fff3;
}
span button:last-child {
    border: none;
} 

header button.active-btn {
    background: #fff;
    color: #000;
} 


