:root {
    --header-height: 65px;
  }

html, body {
    min-height: 100%;
    height: 100%;
}
html, body, main, .earth-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

body {
    background: linear-gradient(138deg, #2092e382, #ccff0000);
}
