:root {
    --mainFont: 'Neris';
    --addFont: 'Glametrix';
    --logoFont: 'Philosopher';
}

html, body, article {
    position: relative;

    width: 100%;
    min-height: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    
    
    flex: 1;
    overflow: hidden;
}
 article {
    background: var(--mainBackground);
    z-index: 0;
 }

.non-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
    width: 0;
}