:root {
    --mainFont: 'Neris';
    --addFont: 'Glametrix';
    --logoFont: 'Philosopher';
}

html, body, article {
    min-height: 100%;
    height: 100%;
}
html, body, article, .earth-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--mainBackground);
    color: var(--accentColor);
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; 
    flex: 1;
    overflow: hidden;
}


.non-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
    width: 0;
}