@media (max-width: 920px) {
    section.header-logo h1 {
        font-size: 26px;
        letter-spacing: 6px;
    }

    section.header-settings {
        padding: 0;
    }
    div.header-controls button {
        font-size: 16px;
    }


    div.header-language button { 
        width: calc( var(--btnOneWidth) * (10/4 * 14/16)  );
    }
    div.header-choosetype button { 
        width: calc( var(--btnOneWidth) * (10/2 * 14/16) );
    }
    div.header-theme button { 
        width: calc( var(--btnOneWidth) * (10/3 * 14/16) );
    }




    :root {
        --title-fs: 44px;
        --slogan-fs: 20px;
        --about-big-fs: 28px;
        --about-small-fs: 24px;
    }
    
    #aboutWrap > section { 
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 768px) {
    header {
        min-height: 65px;
    }



    section.header-logo {
        justify-content: flex-start; 

        width: 100%;
        max-width: 100%;
        min-width: 0px;
    }
    section.header-logo img { 
        height: 36px;
    }
    



    button#settingsBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 35px;
        height: 22px;
        
        margin: 0 10px 0 auto;
        padding: 0; 

        background: none;
        border-radius: 2px;
        border: var(--settingsBtn-border); 

        transition: .3s;
    } 
    button#settingsBtn.active-btn {
        background-color: var(--settingsBtn-background);
        border: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    button#settingsBtn span {
        display: flex;
        
        width: 3px;
        height: 3px;
        margin: 0 2px;

        background: var(--based-color);
        border-radius: 10px;
    }




    section.header-settings {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        top: 46px;
        right: 10px;
        transform: translateX(260px);

        width: auto;
        min-width: 0;

        padding: 15px 30px;
        
        background: var(--settings-background);
        filter: var(--settings-filter); 
        border-radius: 4px;
        color: #fff;

        overflow: hidden;
        z-index: 10; 
    }
    div.header-language,
    div.header-choosetype,
    div.header-theme,
    div.header-other {
        margin: 2px 0;
        border: none;
    } 
    div.header-other {
        margin-top: 20px;
    }
    div.header-other button#scrollBtn  {
        display: flex;
    }
    div.header-other button#aboutBtn {
        width: calc( var(--btnOneWidth) * (10/4) );
    }
    
    




    div.header-language button { 
        width: calc( var(--btnOneWidth) * (10/4)  );
        font-size: 15px;
    }
    div.header-choosetype button { 
        width: calc( var(--btnOneWidth) * (10/2) );
    }
    div.header-theme button { 
        width: calc( var(--btnOneWidth) * (10/3) );
    }
    div.header-mobile-scroll button {
        width: calc( var(--btnOneWidth) * (10/1) );
    }


    div.header-controls button:hover {
        background-color: none;
    }




    main {
        flex-direction: column;
    }
    main > * {
        transform: translateY(-100%);
        transition: .5s all;
    } 

    
    aside {
        width: 100%;
        max-width: 100%;
    }
    article {
        width: -webkit-fill-available; 
    }
    a#areaText {
        margin-bottom: 80px;
        text-decoration: underline;
    }
    canvas#globe {
        margin-bottom: 10%;
    }








    :root {
        --title-fs: 40px;
        --slogan-fs: 18px;
        --about-big-fs: 26px;
        --about-small-fs: 22px;
    }
    #aboutWrap > section { 
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    } 
    #aboutWrap section.contactsWrap {
        min-width: 0; 
        transform: translate(-44px);
        width: calc(90% - 44px);
        margin-bottom: 0;
    }
    #aboutWrap .about-project-name {
        font-size: 36px;
    }
    #vkLink:hover {
        color: var(--based-color);  
    } 
    #tgLink:hover {
        color: var(--based-color);   
    } 
    #waLink:hover {
        color: var(--based-color);  
    }
    #gitLink:hover {
        color: var(--based-color);  
    }  
    #aboutWrap::before,
    #aboutWrap::after {
        top: 5px;
        right: 5px;
    }
    #aboutClose {
        top: 10px;
        right: 10px;
    }

    
}




@media (max-width: 600px) {
    



    section.header-logo h1 {
        font-size: 24px;
        letter-spacing: 4px;
    }

    
    


    ul#areaList h6 {
        font-size: 16px;
    }
    ul#areaList div a {
        font-size: 20px;
    }
    ul#areaList a span {
        margin-right: 4px;
    }
    ul#riverList a {
        font-size: 20px;
    } 
    #searchInput {
        font-size: 22px;
    }
    #searchInput::-webkit-input-placeholder { 
        font-size: 24px; 
    }
    



    span.input-btn {
        width: 23px;
        height: 19px;
        margin: 2px 1px;
        font-size: 18px;
    }
    span.input-btn:last-child { 
        height: 17px;
    }
    span.input-counter { 
        font-size: 12px;
        padding: 0px 8px;
        padding-bottom: 4px; 
    }
 



    :root {
        --title-fs: 36px;
        --slogan-fs: 16px;
        --about-big-fs: 22px;
        --about-small-fs: 20px;
    }
    #aboutWrap section.contactsWrap { 
        margin-top: 0;
        transform: none;
        width: 90%;
    }
    #aboutWrap .contacts {
        flex-direction: column-reverse; 
        border-right: 3px solid var(--based-color);
        padding: 0 10px;
        margin: 0;
        width: 90%;
    }
    #aboutWrap form {
        padding: 0;
        border: none;
    }
    #aboutWrap .contacts-links {
        flex-direction: row;
        justify-content: end;
    }
    #aboutWrap .contacts-links a {
        margin: 0 2px;
        padding: 4px;
    }

}
