@media (max-width: 920px){
    section.header-logo h1 {
        font-size: 26px;
        letter-spacing: 6px;
    }

    section.header-settings {
        padding: 0%;
    }
    div.header-controls button {
        font-size: 16px;
    }


    div.header-language button { 
        width: calc( var(--btnOneWidth) * (10/4 * 14/16)  );
    }
    div.header-choosetype button { 
        width: calc( var(--btnOneWidth) * (10/2 ) );
    }
    div.header-theme button { 
        width: calc( var(--btnOneWidth) * (10/3 * 7/8) );
    }
}

@media (max-width: 750px) {
    section.header-logo {
        width: 100%;
        justify-content: flex-start; 
        max-width: 100%;
        min-width: 0px;
    }
    section.header-logo img { 
        height: 40px;
    }
    



    button#settingsBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 22px;
        margin: 0 10px 0 auto;
        padding: 0; 
        border-radius: 2px;
        background: none;
        border: var(--headerLogoBtnBorder); 

        transition: .3s;
    } 
    button#settingsBtn.active-btn {
        background-color: var(--headerLogoBtnBgc);
        border: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    button#settingsBtn span {
        background: var(--accentColor);
        width: 3px;
        height: 3px;
        display: flex;
        border-radius: 17px;
        margin: 0 2px;
    }




    section.header-settings {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: auto;
        min-width: 0;
        top: 50px;
        right: -250px;
        padding: 15px 30px;
        background: none;
        z-index: 10;
        border-radius: 4px;
        color: #fff;
        overflow: hidden; 
        background: var(--headerSettingsBgc);
        filter: var(--headerSettingsFilter); 
    } 
    div.header-controls,
    div.header-mobile-scroll {
        margin: 2px 0;
        border: 1px solid #00000057
    }
    div.header-controls:first-child {
        margin-left: 0;
    } 
    div.header-controls:last-child {
        margin-right: 0;
    }
    div.header-mobile-scroll {
        display: flex;
        margin-top: 20px;
    }
    div.header-mobile-scroll:hover {
        background-color: var(--headerDisableBtnBgc);
    }

    div.header-controls button {
        background-color: var(--headerBgc); 
        font-size: 20px;
        color: var(--headerDisabledColor);
    }
    div.header-mobile-scroll button {
        background-color: var(--headerBgc); 
        font-size: 20px;
        color: var(--accentColor); 
    }
    


    div.header-language button { 
        font-size: 15px;
        width: calc( var(--btnOneWidth) * (10/4)  );
    }
    div.header-choosetype button { 
        width: calc( var(--btnOneWidth) * (10/2) );
    }
    div.header-theme button { 
        width: calc( var(--btnOneWidth) * (10/3) );
    }
    div.header-mobile-scroll button {
        width: calc( var(--btnOneWidth) * (10/1) );
    }
    




    main {
        flex-direction: column;
    }
    aside {
        width: 100%;
        max-width: 100%;
    }
    article {
        width: -webkit-fill-available; 
    }   
    h2#areaText {
        margin-bottom: 80px;
    }
    canvas#globe {
        margin-bottom: 10%;
    }
}




@media (max-width: 600px) {
    section.header-logo h1 {
        font-size: 24px;
        letter-spacing: 4px;
    }

    
    


    ul#areaList h6 {
        font-size: 16px;
    }
    ul#areaList div a {
        font-size: 20px;
    }
    ul#areaList a span {
        margin-right: 4px;
    }
    ul#riverList a {
        font-size: 20px;
    }
    #searchInput {
        font-size: 20px;
    }
    div.sidebar-input-wrapper {
        min-height: 24px;
        height: 24px;
    }



    span.input-btn {
        width: 23px;
        height: 19px;
        margin: 2px 1px;
        font-size: 18px;
    }
    span.input-btn:last-child { 
        height: 17px;
    }
    span.input-counter { 
        font-size: 12px;
        padding: 0px 8px;
        padding-bottom: 4px; 
    }
 

    
}
