sidebar input {
    width: calc(80% - 4px);
    height: 28px;
    min-height: 28px;
    /* border-radius: 5px; */
    border: none; 
    font-size: 20px;
    outline: none;
    background: none;
    border-bottom: 4px solid var(--accentColor);
    color: var(--accentColor);
    padding: 6px 2px;
}

sidebar input::-webkit-input-placeholder {
    color:var(--sdPlaceholder);
    font-family: 'Verdana'; /*Poppins*/
}


sidebar {
    height: 100%;
    flex: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* padding: 0 40px; */
    background: #7c7c7c40;
    justify-content: center;
    min-width: 320px;
    color: #444;
    box-shadow: -7px -9px 20px 0px #000;
    background: var(--sdBackground);
    color: var(--accentColor);
}

sidebar wrap {
    width: 90%;
    height: 90%;  
    display: flex;
    flex-direction: column; 
    align-items: center;
} 






ul#sidebarList {
    position: relative;
    width: 80%;
    list-style: none;
    padding: 0;
    margin-top: 30px;
    overflow: auto;
    padding-right: 4px;
    font-family: 'Neris';
}
ul#sidebarList::-webkit-scrollbar {
    width: 7px;
    background: var(--accentColor);
}
ul#sidebarList::-webkit-scrollbar-thumb { 
    background: var(--sdThumbBgc); 
}
ul#sidebarList > li {
    background: var(--sdListBgc);
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px 10px;

     
}
ul#sidebarList > li:first-child {
    margin: 0;
    margin-bottom: 4px;
}
ul#sidebarList > li:last-child {
    margin: 0;
    margin-top: 4px;
}




ul#sidebarList h6 {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 100;
    color: var(--sdHeaderColor);
}
ul#sidebarList div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    max-height: 0;
    margin: 0px 37px 0 25px;
    
    overflow: hidden;
    transition: max-height .6s;
}
ul#sidebarList div a {
    font-size: 18px;
    color: var(--sdLinkColor);
}
ul#sidebarList#sidebarList div a:active {
    color: var(--sdLinkColor);
} 
ul#sidebarList span {
    font-size: 20px;
    margin-right: 8px;
}
ul#sidebarList wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;

    transition: 2s all;
}