aside {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;

    width: 37%;
    min-width: 320px; 
    max-width: 490px;
    height: calc(100% - 80px);
    min-height: calc(100% - 80px);
    max-height: calc(100% - 80px);

    padding: 40px 0;
 
    background: var(--sdBackground);
    color: var(--accentColor);
    box-shadow: var(--headerShadow);

    z-index: 1;
} 
aside > * {
    margin: 0 10% 0 15%;
}






aside ul {
    position: relative;
    width: -webkit-fill-available; 
    
    padding: 0;  
    padding-right: 4px;

    list-style: none;
    overflow: auto;
}
aside ul::-webkit-scrollbar {
    width: 7px;
    background: var(--accentColor);
}
aside ul::-webkit-scrollbar-thumb { 
    background: var(--sdThumbBgc); 
}
aside ul > li { 
    margin: 4px 0; 
    padding: 4px 10px; 
    background: var(--sdListBgc);
    border-radius: 4px;
}
aside ul > li:first-child {
    margin-top: 0; 
}
aside ul > li:last-child {
    margin-bottom: 0; 
}
aside ul a:active {
    color: var(--sdLinkColor);
}



ul#areaList h6 {
    display: flex;

    width: 100%;

    margin: 0;
    padding: 0;

    color: var(--accentColor);
    font-size: 20px;
    font-weight: var(--sdFontWeight);
    font-family: var(--mainFont);
}
ul#areaList div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-height: 0;

    margin: 0px 37px 0 25px;
    
    overflow: hidden;
    transition: max-height .6s;
}
ul#areaList a {
    margin: 2px 0;

    color: var(--sdLinkColor);
    font-size: 22px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: .5px; 

    text-decoration: none;
    transition: .2s transform, 0s filter;
}
ul#areaList a:last-child {
    margin-bottom: 6px;
}
ul#areaList span {
    display: inline-block;

    margin-right: 8px;

    color: var(--accentColor);
    font-family: 'Neris';
    font-size: 16px;
    
    transition: .5s transform, .5s color;
}
ul#areaList a:hover > span {  
    transform: translateX(10px) scale(0.95);
}
ul#areaList a:hover {
    transform: translateX(20px) scale(1.07); 
}
ul#areaList ins {
    font-family: var(--addFont);
}




ul#riverList {
    display: none; 
}  
ul#riverList a {
    color: var(--sdLinkColor);
    font-size: 22px;
    font-weight: 900;
    font-family: var(--addFont);
    letter-spacing: .5px;
} 
ul#riverList mark {
    background: #ffa0b6b0; 
}






div.sidebar-input-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: -webkit-fill-available;

    margin-bottom: 30px;
    
    border-bottom: 4px solid var(--accentColor);
}
#searchInput {
    position: relative;
    flex: 1;
    
    padding: 6px 2px;
    margin-bottom: -6px;

    color: var(--accentColor);
    font-size: 26px; 
    font-family: var(--addFont); 
    font-weight: 900;

    outline: none;
    background: none;
    border: none;
    overflow: hidden;
}


#searchInput::-webkit-input-placeholder {
    color:var(--sdPlaceholder);
    font-family: var(--addFont);
    font-size: 30px;
    font-weight: 100;
}

span.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;

    width: 27px;
    height: 23px;

    padding-bottom: 4px;
    margin: 0px 1px 2px 1px;

    border-radius: 3px;
    background: var(--sdListBgc);

    font-size: 20px;
    font-family: 'Neris';
    font-weight: var(--sdFontWeight);
} 
span.input-btn:last-child {
    height: 21px;
    margin-right: 0;
    padding-bottom: 6px;
}
span.input-counter { 
    width: auto;
    font-size: 14px;
    padding: 0px 12px;
    padding-bottom: 4px;
}












