:root { 
    --sdBackground: #7c7c7c40;
    --sdPlaceholder: #a0a0a0;
}




sidebar input {
    width: calc(100% - 8px);
    height: 28px;
    /* border-radius: 5px; */
    border: none;
    padding: 4px;
    font-size: 20px;
    outline: none;
    background: none;
    border-bottom: 4px solid var(--accentColor);
    color: var(--accentColor);
}

::-webkit-input-placeholder {
    color:var(--sdPlaceholder);
}


sidebar {
    height: 100%;
    flex: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* padding: 0 40px; */
    background: #7c7c7c40;
    justify-content: center;
    min-width: 320px;
    color: #444;
    box-shadow: -11px 0px 18px 2px #000;
    background: var(--sdBackground);
    color: var(--accentColor);
}

sidebar wrap {
    width: 90%;
    height: 100%;  
    display: flex;
    flex-direction: column; 
    align-items: center;
}
sidebar wrap > div {
    width: calc(80% - 10px);
    margin-top: 40px;
}
sidebar wrap > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 80%;
}