@font-face {
    font-family: 'Aetherius';
    src: url('Fonts/Aetherius.ttf'); }
@font-face {
    font-family: 'Glametrix';
    src: url('Fonts/Glametrix.ttf'); }
@font-face {
    font-family: 'Neris';
    src: url('Fonts/Neris.ttf'); }
@font-face {
    font-family: 'Philosopher';
    src: url('Fonts/Philosopher.ttf'); }