:root {
    --btnOneWidth: 15px;
}
button#settingsBtn {
    display: none;
}



header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    width: 100%;
    min-height: 75px;

    background: var(--headerBgc);
    color: var(--accentColor);
    box-shadow: 0px 1px 14px -7px #727272;

    z-index: 2;
}
 




section.header-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: calc(37% - 10px);
    max-width: 490px; 
    min-width: 310px;
    margin-left: 10px; 
}
section.header-logo img {
    height: 36px;
    margin-right: 15px;
}
section.header-logo h1 {
    margin: 0;
    font-size: 36px;
    font-family: var(--logoFont);
    letter-spacing: 9px;
}
section.header-logo a {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
}






section.header-settings { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    
    flex: 1;
    padding: 0 2%;
} 
div.header-controls, 
div.header-mobile-scroll {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: fit-content;
    height: 30px;
    margin-right: 4px;

    border: 1px solid var(--accentColor);
    border-radius: 3px;
    
    overflow: hidden;
    z-index: 2;
}
div.header-theme {
    margin-left: auto;
}
div.header-mobile-scroll {
    display: none;
}



div.header-controls button,
div.header-mobile-scroll button {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;

    padding: 0;
    margin: 0;
    border: 0;
    background: none; 
    
    color: var(--accentColor);
    font-size: 20px; 
    font-weight: 100;
    font-family: var(--addFont);
    letter-spacing: .8px; 
    line-height: 1; 
    
    transition: .45s all;
} 
div.header-controls button:hover {
    background: var(--headerHoverBcg); 
} 
div.header-controls button.active-btn {
    background: var(--headerButtonBgc);
    color: #000;
} 


div.header-language button {
    width: calc( var(--btnOneWidth) * (10/4)  );
    font-size: 18px;
}
div.header-choosetype button { 
    width: calc( var(--btnOneWidth) * (10/2) );
}
div.header-theme button { 
    width: calc( var(--btnOneWidth) * (10/3) );
}
div.header-mobile-scroll button {
    width: calc( var(--btnOneWidth) * (10/1) );
}

 





div.header-controls button:not(:last-child)::after{
    content: '';
    position: absolute;
    height: 60%;
    width: 1px;

    right: 0px; 

    background-color: var(--accentColor);
    opacity: .5;
}
div.header-controls button.active-btn::after { 
    content: '';
    position: absolute;
    height: 60%;
    width: 1px;
    
    left: -1px;
    
    background-color: var(--headerBgc);
    opacity: 1;
}




div.header-controls button.active-btn {
    font-weight: 900; 
}
div.header-theme img {
    transform: scale(0.9);
} 