:root {
    --mainFont: 'Neris';
    --addFont: 'Glametrix';
    --logoFont: 'Philosopher';
}

html, body, article {
    position: relative;

    width: 100%;
    min-height: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    background: var(--main-background);
    color: var(--based-color);
    flex: 1;
    overflow: hidden;
}



main article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    transition: 1s transform ease-in-out;
}
main article h2 {
    font-size: 44px;
    font-family: 'Aetherius';
    font-weight: 100;
    margin: auto 0;
}

main article section {
    position: relative;
    display: flex;
    height: 70%;
    width: 100%;
    margin-bottom: auto;
}




#scrollNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 100%;
    right: 10px;
}
#scrollNav span {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin: 4px 0;

    background: var(--based-color);
}
#scrollNav span.active {
    background: var(--accent-color);
}


.non-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
    width: 0;
}