#list section {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;
}
#list h2 i {
    font-family: 'Philosopher';
    font-style: normal;
}

#listWrap {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;


    width: 100%;
    height: calc(100% - 60px); /* 60 for buttons*/
    overflow: hidden;
}

#listWrap div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    max-height: 100%;
    min-width: 100%;
}

#list span, 
#list button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 

    border-radius: 4px;
 
    color: var(--based-color);
    margin: 2px 0;

    font-weight: var(--list-fontWeight);
    font-size: 16px;
    font-family: 'Neris'; 
    z-index: 1;
    overflow: hidden;
}
#list a {
    color: var(--list-linkColor);
    white-space: nowrap;
    cursor: pointer;
    text-decoration: underline;
}



#listControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;

    border: 1px dotted var(--based-color); 
    height: 35px;
    opacity: .7;
}
#listControls button { 
    border: none;
    margin: 0px 4px;
    flex: 1;
    background: none;

    font-family: 'Aetherius';
    color: var(--based-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
} 
#listControls input  {
    background: none;
    outline: none;
    border: none;
    width: 34px;
    font-size: 16px;
    font-family: 'Neris'; 
    margin: 0px 0px;
    color: var(--based-color);

    text-align: center;
}




