#list section {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;

 

}
#listWrap {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;


    width: 100%;
    height: calc(100% - 60px); /* 60 for buttons*/
    overflow: hidden;
}

#listWrap div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    max-height: 100%;
    min-width: 100%;
    transition: 1s transform ease-in-out;
}

#list span, 
#list button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 

    border-radius: 4px;
 
    color: var(--based-color);


    font-weight: 900;
    font-size: 16px;
    font-family: 'Neris'; 
    z-index: 1;
}
#listControls button { 
    border: none;
    margin: 0px 4px;
    flex: 1;
    background: none;

    font-family: 'Aetherius';
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
} 
#listControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;

    border: 1px dotted #444; 
    height: 35px;
}


#list a {
    color: var(--list-linkColor);

}


#list input  {
    background: none;
    outline: none;
    border: none;
    width: 34px;
    font-size: 16px;
    font-family: 'Neris';
    font-weight: 900;
    margin: 0px 0px;

    text-align: center;
}